<container>
  <row class="footer_top">
    <columns small="6" large="5">
      <row>
        <columns small="3" large="2"  valign="middle">
          <img src="https://i.imgur.com/EUjcxIy.png" class="circle_logo">
        </columns>
        <columns small="9" large="9" class="info_section" valign="middle">
          <span class="call_to_action">Download the app</span>
          <span class="info">Cheap flights, hotels & more.</span>
        </columns>
      </row>
    </columns>
    
    <columns small="6" large="7" class="store_logos">
      <row>
        <columns large="6" valign="middle">
          <img src="https://i.imgur.com/RRdHp0N.png">
        </columns>
        <columns large="6" valign="middle">
          <img src="https://i.imgur.com/Op1Sh9d.png">
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="footer_social">
    <columns class="logo_section" small="6" large="9" valign="middle"> 
      <img src="https://i.imgur.com/UzeLXAc.png" alt="logo">
    </columns>
    <columns small="6" large="3" valign="middle">
      <row class="social_icons">
        <columns small="4" large="4"> 
          <img src="https://i.imgur.com/KqNNxQY.png" alt="twitter">
        </columns>
        <columns small="4" large="4"> 
          <img src="https://i.imgur.com/QAA5icf.png" alt="facebook">
        </columns>
        <columns small="4" large="4"> 
          <img src="https://i.imgur.com/vwaNIE1.png" alt="instagram">
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="footer_menu">
    <columns style="width: 90%;">
      <row>
        <columns small="4" large="3"> 
          <a href="#" class="text-center">
              <img src="https://i.imgur.com/RFXhbdF.png" class="icons">
              Flights
          </a>
        </columns>
        <columns class="show-for-large"style="width: 1%"> 
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3"> 
          <a href="#" class="text-center">
              <img src="https://i.imgur.com/Cnso9ll.png" class="icons">
              hotels
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%"> 
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3"> 
          <a href="#" class="text-center">
              <img src="https://i.imgur.com/sml7MI0.png" class="icons">
              cars
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%"> 
          <span class="menu-divider"></span>
        </columns>
        <columns class="show-for-large" small="4" large="3"> 
          <a href="#" class="text-center">
              <img src="https://i.imgur.com/I1jo0Wk.png" class="icons">
              packages
          </a>
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="footer_bottom">
    <columns>
      <row class="more_links">
        <columns>
          <center class="center_tag" style="
          min-width: auto;">
            <a href="#" class="link">unsubscribe</a>
            <a href="#" class="link">email preferences</a>
            <a href="#" class="link">feedback</a>
            <a href="#" class="link">privacy policy</a>
          </center>
        </columns>
      </row>
      <row class="privacy">
        <columns> 
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, ad iure illo consequatur vel molestiae! Voluptatum inventore illum porro debitis expedita architecto consectetur, officiis animi dolores error ex nobis dolorum modi magni adipisci esse saepe reprehenderit quasi quos vitae veniam cupiditate! Ea minus nostrum molestias molestiae maxime, iusto facere quam voluptates nulla modi quibusdam numquam delectus, illo nihil tenetur, voluptas esse. Dignissimos at omnis fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, ad iure illo consequatur vel molestiae! Voluptatum inventore illum porro debitis expedita architecto consectetur, officiis animi dolores error ex nobis dolorum modi magni adipisci esse saepe reprehenderit quasi quos vitae veniam cupiditate! Ea minus nostrum molestias molestiae maxime, iusto facere quam voluptates nulla modi quibusdam numquam delectus, illo nihil tenetur, voluptas esse. Dignissimos at omnis fugit!
          </p>
        </columns>
      </row>
      <row class="copyright">
        <columns>
          <p>&copy2019 kayak software corporation</p> 
        </columns>
      </row>
      <row class="address">
        <columns>
           <p>7 market street stamford, CT</p>
        </columns>
      </row>
    </columns>
  </row>
</container>
