<container> 
  <row class="header"> 
    <columns small="6" large="6" valign="middle"> 
      <img src="https://i.imgur.com/CU3aWYq.png" class="logo_white">
    </columns>
    <columns small="6" large="6" valign="middle"> 
      <img src="https://i.imgur.com/Pik2YSN.png" class="user_icon float-right">
    </columns>
  </row>
  <row class="sub-header">
    <columns style="width: 90%;">
      <row>
        <columns small="4" large="3"> 
          <a href="https://www.cheaptickets.com/Cheap-Flights-To-Hartsfield-Jackson-Atlanta-Intl.d5002305.Travel-Guide-Flights?SEMCID=CHEAPTICKETS-US.MULTILOBF.GOOGLE.AC-c-EN.FLIGHT&&SEMDTL=a11784905643.b174739491652.d1344068971973.e1c.f11t1.g1kwd-320129319754.h1b.i1.j19010944.k11015254.l1g.m1.n1&gclid=CjwKCAjw0ZfoBRB4EiwASUMdYRafZ4UcdoN8h-zdA59bML0G0RmRAODVw_eM_w6XRbEpDN1bfoa-MxoCQHgQAvD_BwE&gclsrc=aw.ds" class="text-center">
              <img src="https://i.imgur.com/RFXhbdF.png" class="icons">
              Flights
          </a>
        </columns>
        <columns class="show-for-large"style="width: 1%"> 
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3"> 
          <a href="https://www.kayak.com/horizon/sem/hotels/general?lang=en&skipapp=true&kw=-1&gclid=CjwKCAjw0ZfoBRB4EiwASUMdYUCRc16aLsAq7WradBo01q3bPclYAp4jvBbgO3xbKAils9S8VM6KjxoCZ3UQAvD_BwE&g_kw=kayak+hotels&aid=32935655517" class="text-center">
              <img src="https://i.imgur.com/Cnso9ll.png" class="icons">
              hotels
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%"> 
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3"> 
          <a href="https://www.kayak.com/cars" class="text-center">
              <img src="https://i.imgur.com/sml7MI0.png" class="icons">
              cars
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%"> 
          <span class="menu-divider"></span>
        </columns>
        <columns class="show-for-large" small="4" large="3"> 
          <a href="https://www.kayak.com/packages" class="text-center">
              <img src="https://i.imgur.com/I1jo0Wk.png" class="icons">
              packages
          </a>
        </columns>
      </row>
    </columns> 
  </row>
</container>